body{
  overflow: hidden;
}
.icon-totot{
  font-size: 18px;
}

#aside{
  width: 156px;
  border-right: solid 1px grey;
  height: 100%;
  display: inline-block;
}

#container{
  position: absolute;
  display: inline-block;
  left: 168px;
  top: 20px;
  width: 1300px;
  border-top: solid 1px grey;
}

#container div.inactive {
  display: none;
}

#container div.active {
  display: block;
}

#iciba{height: 730px;}
#iciba-webview{height: 720px;}

#zdic{height: 730px;}
#zdic-webview{height: 720px;}